.content-main{
	// min-height: 500px;
}

#copy-on-nav{
	position: absolute;
	width: 250px;
	bottom: 0px;
	text-align: center;
}

#page-wrapper{
	background: #F3F3F4;
}

.box{
	background-color: #fff;
    padding: 1.8em;
    margin-bottom: 1em;
    border: 1px solid #ebeff6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

a.navbar-brand{
    background:green;
}

.withAsterisk{
    position: relative;

    &::before{
        position: absolute;
        content: "*";
        right: -7px;
        color: red;
    }
}